body {
  padding: 5px;
  margin: 5px;
  font-size: calc( 12px + 2vw );
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

h1, h2, h3{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: calc( 20px + 2vw);
  padding: 5px;
}

h2 a {
  color: black;
}

h3 a {
  color: black;
}

h2 {
  font-size: calc(16px + 2vw);
}

h3 {
  font-size: calc(14px + 2vw);
  padding: 0px;
}

h4 {
  font-size: calc(12px + 2vw);
}

button p {
  font-size: calc(12px + 1vw);
}

#title-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

#menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#menu a {
  color: black;
  font-size: calc(12px + 2vw);
}

.curr-page {
  font-style: italic;
  text-decoration: underline;
}

.blurb {
  text-align: justify;
  padding: 5px;
}

.note {
  font-size: calc(10px + 1vw);
  font-style: italic;
  padding: 5px;
}

#top {
  flex-direction: row;
  border-bottom: 2px dotted black;
}

#contact-container {
  border-top: 2px dotted black;
}

#contact-container.contact-page {
  border-top: none;
  border-bottom: 2px dotted black;
}

#contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#contact ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 60%;
  margin: 0px;
  padding: 0px 8px;
}

#contact li {
  padding: 5px;
  margin: 0px;
}

@media screen and (max-width: 360px) {
  #contact {
    flex-direction: column;
  }

  #contact ul {
    padding: 0px;
    width: 100%;
  }

  #contact li {
    padding: 5px;
  }
}

#projects {
  display: flex;
  flex-direction: column;
  border-bottom: 2px dotted black;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  display: none;
}

.proj-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.proj-button {
  flex-direction: column;
  width: 100%;
}

button {
  all: unset;
  margin: 0px;
  padding: 10px;
  text-align: left;
  flex: 1;
  background-color: white;
}

button:hover {
  background-color: #cacccf;
}

button:focus {
  background-color: #cacccf;
}

[aria-hidden="true"]{
  display:none;
}

[aria-hidden="false"]{
  font-size: calc(12px + 1vw);
  padding: 5px;
  margin: 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#about-this-site {
  font-size: calc(12px + 1vw);
}

#about-this-site p {
  font-size: calc(12px + 1vw);
  text-align: justify;
}

#about-this-site a {
  padding: 0px;
  margin: 0px;
}

.year {
  font-size: calc(12px + 1vw);
}

.publication {
  font-size: calc(12px + 1vw);
  width: 100%;
  padding: 5px;
  margin:0px;
}

.publication:hover {
  background-color: #cacccf;
}
