body {
  padding: 5px;
  margin: 5px;
  font-size: calc( 12px + 2vw );
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

#pouq-body {
  background-color: black;
}

h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 5px;
  font-size: calc(20px + 2vw);
}

h3 {
  padding: 5px;
}

h2 a {
  color: black;
}

h3 a {
  color: black;
}

h2 {
  font-size: calc(16px + 2vw);
}

h3 {
  font-size: calc(12px + 2vw);
  padding: 0px;
}

h4 {
  font-size: calc(12px + 2vw);
}

button p {
  font-size: calc(12px + 1vw);
}

#title-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

#menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#menu a {
  color: black;
  font-size: calc(12px + 2vw);
}

.curr-page {
  font-style: italic;
  text-decoration: underline;
}

.blurb {
  text-align: justify;
  padding: 5px;
}

.note {
  font-size: calc(10px + 1vw);
  font-style: italic;
  padding: 5px;
}

#top {
  flex-direction: row;
  border-bottom: 2px dotted black;
}

#contact-container {
  border-top: 2px dotted black;
}

#contact-container.contact-page {
  border-top: none;
  border-bottom: 2px dotted black;
}

#contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#contact ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 60%;
  margin: 0px;
  padding: 0px 8px;
}

#contact li {
  padding: 5px;
  margin: 0px;
}

@media screen and (max-width: 360px) {
  #contact {
    flex-direction: column;
  }

  #contact ul {
    padding: 0px;
    width: 100%;
  }

  #contact li {
    padding: 5px;
  }
}

#projects {
  display: flex;
  flex-direction: column;
  border-bottom: 2px dotted black;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  display: none;
}

.proj-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.note-description {
  font-style: italic;
}

.proj-button {
  flex-direction: column;
  width: 100%;
}

button {
  all: unset;
  margin: 0px;
  padding: 10px;
  text-align: left;
  flex: 1;
  background-color: white;
}

button:hover {
  background-color: #cacccf;
}

button:focus {
  background-color: #cacccf;
}

[aria-hidden="true"]{
  display:none;
}

[aria-hidden="false"]{
  font-size: calc(12px + 1vw);
  padding: 5px;
  margin: 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#about-this-site {
  font-size: calc(12px + 1vw);
}

#about-this-site p {
  font-size: calc(12px + 1vw);
  text-align: justify;
}

#about-this-site a {
  padding: 0px;
  margin: 0px;
}

.egg {
  font-size: calc(4px + 1vw);
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.year {
  font-size: calc(12px + 1vw);
}

.publication {
  font-size: calc(12px + 1vw);
  width: 100%;
  padding: 5px;
  margin:0px;
}

.publication:hover {
  background-color: #cacccf;
}

#blog-container {
  border-top: 2px dotted black;
}

.blog-post {
  padding: 5px;
  max-width: 100%;
}

.blog-post ul {
  font-size: calc(12px + 1vw);
}

.blog-post p {
  font-size: calc(12px + 1vw);
}

.blog-footer {
  max-width: 100%;
  padding: 5px 0px;
  border-top: 1px dotted black;
  border-bottom: 2px dotted black;
  font-size: calc(8px + 1vw);
  font-style: italic;
}

.blog-footer.bottom {
  border-bottom: none;
}

#artdiv {
  display: flex;
  flex-direction: column;
}

#artdiv iframe {
  height: 600px;
}

.artimg {
  max-width: 100vw;
}

.pouq-page {
  background-color: #f8dddd;
  color: #000;
  font: 100%/1.5 Avenir, Arial;
  -webkit-font-smoothing: antialiased;
  padding: 8px;
  margin-left: 10%;
  max-width: 80%;
  border-radius: 8px;
  display: flex;
  align-content: center;
}

.pouq-page a {
  color: black;
  text-decoration: underline;
}

.pouq-page h1, .pouq-page h2, .pouq-page h3 {
  color: #000;
  font: 100%/1.5 Avenir, Arial;
  -webkit-font-smoothing: antialiased;
}

.pouq-page h1 {
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 4px;
  text-align: center;
  max-width: 80%;
  margin-left: 10%;
}

.pouq-page h2 {
  font-style: oblique;
  padding-left: 0px;
  font-size: calc(17px + 1vw);
  max-width: 80%;
  margin-left: 10%;
  text-align: center;
}

.pouq-page h3 {
  font-weight: 500;
  font-size: calc(16px + 1vw);
  text-align: center;
}

.pouq-page h4 {
  font-weight: 400;
  font-style: italic;
  font-size: calc(15px + 1vw);
  margin: 12px;
}

.pouq-page h5 {
  font-weight: 500;
  font-size: calc(15px + 1vw);
  margin: 12px;
}


.pouq-page p {
  font-size: calc(12px + 1vw);
  margin: 12px;
}

.pouq-page .card {
  max-width: 100%;
  background-color: white;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px;
  font-size: calc(12px + 1vw);
  display: flex;
  align-items: center;
}

.pouq-page .card .card {
  background-color: Gainsboro;
  font-size: calc(12px + 1vw);
}

.card img {
  max-width: 60%;
}

.testimonial-author {
  display: flex;
  justify-content: flex-end;
}

.gallery {
  justify-content: space-between;
  padding: 8px;
  max-width: 100%;
}

.gallery iframe {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
}

.gallery img {
  margin-top: 8px;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
}

img {
  max-width: 100%;
}

.center {
  justify-content: center;
  text-align: center;
}

h1.birthday-scrollable {
  max-width: 200vw;
  font-family: 'Courier New', monospace;
}

.birthday-scrollable {
  /* width: 100%; */
  /* height: 100%; */
  width: 150vw;
  height: 1.5em;
  overflow: hidden;
  animation: scroll linear 15s infinite;
  animation-timing-function: linear;
  color: #900C3F;
  text-decoration: #FF5733 underline;
}

.birthday-scrollable-container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

@keyframes scroll {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}

#amanda-borth {
  background-color: rgba(255, 195, 0, 0.7);
  /* background-color: #DAF7A6; */
  /* color: #581845; */
  color: #FF5733;
}

.widget button {
  background-color: rgba(144, 12, 63, 1);
  /* background-color: rgba(255, 87, 51, 1); */
  color: rgba(255, 195, 0, 1);
  border-radius: 8px;
}

.widget {
  border: 2px solid #900C3F;
  border-radius: 8px;
  padding: 8px;
  background-color: #DAF7A6;
  max-width: 100%;
  margin: 16px;
}

.widget.full-size {
  max-width: 100%;
}

#amanda-borth h2 {
  font-family: 'Courier New', monospace;
  color: #900C3F;
}

#all-widgets {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-widget-container {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

@media screen and (max-width: 800px) {
  #all-widgets {
    display: flex;
    flex-direction: column;
  }

  .two-widget-container {
    max-width: 100%;
  }
}
